@font-face {
  font-family: Roboto;
  src: url('../font/roboto.ttf');
}
@font-face {
  font-family: 'Gotham Pro Medium';
  src: url('../font/GothamPro-Medium.eot');
  src: url('../font/GothamPro-Medium.eot?#iefix') format('embedded-opentype'),
  url('../font/GothamPro-Medium.woff') format('woff'),
  url('../font/GothamPro-Medium.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
body{
  min-height: 96vh;
  margin: 0;
  padding-top: 30px;
  background: url("../img/img-text-guru.jpg") bottom left no-repeat;
}
.page-height{
  max-width: 1370px;
  margin: 0 auto;
}
.heading{
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  top: 0;
  margin-bottom: 100px;
}
h1{
  font-size: 60px;
  font-family: "Gotham Pro Medium";
  font-weight: bold;
  color: #202020;
  letter-spacing: -2px;
}
  // menu style
.heading__menu{
  position: relative;
  width: 30px;
  height: auto;
  z-index: 1001;
  > label{
    display: flex;
    height: 30px;
    width: 30px;
    cursor: pointer;
    transition: all .5s;
    .burger:first-child {
      top: 0;
    }
    .burger:nth-child(2) {
      top: 7px;
    }
    .burger:nth-child(3) {
      top: 14px;
    }

  }
}
.burger{
  position: absolute;
  background: #7ab9ff;
  height: 3px;
  width: 30px;
  border-radius: 4px;
  transition: all .5s;
}
.menu{
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  background: #2e3438;
  z-index: 1000;
  &__img{
    width: 50%;
    height: 100%;
    background: url("../img/img-menu-bg.jpg") no-repeat;
  }
  &__list{
    width: 50%;
    height: 100%;
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 28px;
    font-family: "Gotham Pro Medium";
    line-height: 85px;
  }
}

.list__item{
  display: flex;
  flex-direction: column;
  &::after{
    content: " ";
    margin: 0 auto;
    height: 0;
    width: 30px;
    border: 1px solid #7ab9ff;
  }
  &:nth-last-child(1)::after{
    border: none;
  }
  > .item__link{
    text-decoration: none;
    text-transform: uppercase;
    color: #ffffff;
    &:hover{
      font-weight: 700;
      letter-spacing: 1.1px;
    }
  }
}

#menu__burger {
    display: none;
    &:checked+label {
      .burger:first-child {
        opacity: 0;
        top: 20px;
        width: 0;
        transform: rotate(-45deg);
      }
      .burger:nth-child(2) {
        top: 12px;
        transform: rotate(-45deg);
        width: 35px;
      }
      .burger:nth-child(3) {
        top: 12px;
        transform: rotate(45deg);
        width: 35px;
      }
    }
  }


//section title

.title{
    display: flex;
    justify-content: space-between;
    margin-bottom: 70px;
    &__text{
      width: 50%;
      max-width: 640px;
      font-family: Roboto;
      font-size: 18px;
      color: #6d6963;
      font-weight: 300;
      &-underlining {
        position: relative;
        z-index: 1;
      }
      &-underlining::after{
        content: "";
        display: block;
        position: absolute;
        bottom: 10px;
        left: 1%;
        width: 0;
        height: 15px;
        background: #7ab9ff;
        z-index: -1;
        animation: underlining 1s linear 2s forwards;
      }
    }
    &__mac{
      width: 50%;
      max-width: 640px;
      height: 363px;
    }
  }
.mac{
    position: absolute;
    &__layer{
      &0{
        z-index: 10;
      }
      &1{
        z-index: 4;
      }
      &2{
        z-index: 3;
      }
      &3{
        z-index: 2;
      }
      &4{
        z-index: 1;
      }
    }
    &__video{
      position: relative;
      top:80px;
      left: 105px;
    }
  }
.mac__layer0,.mac__layer1,.mac__layer2,.mac__layer3,.mac__layer4{
    display: block;
    transform: scale(1);
  }
.navigation{
    display: flex;
    justify-content: space-between;
    &__style{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
      position: relative;
      height: 255px;
      flex-basis: 640px;
      flex-shrink: 1;
      font-size: 36px;
      font-family: "Gotham Pro";
      color: #ffffff;
      padding-left: 40px;
      border-radius: 6px;
      cursor: pointer;
      box-sizing: border-box;
      box-shadow: 0 50px 30px 0 rgba(29,33,43,0.25);
      transition: all 0.5s ease-in-out ;
      &:nth-child(1){
        margin-right: 40px;
      }
      p{
        margin: 15px 0;
      }
    }
    &__partner{
      background: url("../img/img-button-1.png")  no-repeat;
    }
    &__advertiser{
      background: url("../img/img-button-2.png") no-repeat;
    }
  }
.navigation__partner:hover,.navigation__advertiser:hover{
    transform: translateY(-10px);
    box-shadow: 0 60px 30px 0 rgba(29,33,43,0.25);
    .navigation__heading{
      top: 0;
    }
    .navigation__description{
      top: 0;
      opacity: 1;
    }

  }
.navigation__heading{
    position: relative;
    top: 30px;
    transition: all 1s ease-in-out ;
  }
.navigation__description{
    position: relative;
    top: -30px;
    font-size: 18px;
    opacity: 0;
    transition: all 1s ease-in-out ;
  }






  @keyframes underlining {
    from { width: 0;}
    to { width: 98% ;}
  }
